In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
# не правильный файл, пришлось удалить всякие лишние пробелы
df = pd.read_csv ("boston_housing.txt"
                   , sep="\t"
                   ,  header= None, 
                   names=["crim", "zn", "indus", "chas", "nox", "rm", "age", 
                          "dis", "rad", "tax", "ptratio", "black", "lstat", "medv"]
                 )

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 1 to 506
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    float64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 59.3 KB

In [4]:
df.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [5]:
#разделим на train и test 70 на 30
X_train, X_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), 
                                                    df['medv'], 
                                                    test_size=0.3, 
                                                    random_state=123)

In [6]:
print(X_train.shape)
print(X_test.shape)

(354, 13)
(152, 13)

In [7]:
#Используем линейную регрессию
LnR = LinearRegression()

In [9]:
# обучаем модель
#%%time
LnR.fit(X_train, y_train)

LinearRegression()

In [10]:
# предскажем по группе X_test
pred = LnR.predict(X_test)

In [11]:
# предсказания по группе X_train
pred_train = LnR.predict(X_train)

In [12]:
#оценим 
test_pred = X_test.copy()
test_pred['predict'] = pred
test_pred['real_medv'] = y_test
test_pred[['predict','real_medv']].head()

       predict  real_medv
411  15.475709       15.0
86   27.857866       26.6
281  39.718214       45.4
423  17.945917       20.8
200  30.194419       34.9

In [13]:
#посмотрим среднеквадратичную ошибку
print('Ошибка RMSE c random seed 123 на тестовой выборке =',mean_squared_error(y_test, pred))
print('Ошибка RMSE c random seed 123 на обучающей выборке =',mean_squared_error(y_train, pred_train))

Ошибка RMSE c random seed 123 на тестовой выборке = 28.40585481050846
Ошибка RMSE c random seed 123 на обучающей выборке = 20.18433663987316

In [14]:
# используем RandomForestRegressor вместо линейной
from sklearn.ensemble import RandomForestRegressor

In [15]:
RFR = RandomForestRegressor()

In [16]:
%%time
RFR.fit(X_train, y_train)

Wall time: 785 ms

RandomForestRegressor()

In [17]:
#Предсказания
pred_RFR = RFR.predict(X_test)
pred_RFR_train = RFR.predict(X_train)

In [18]:
#посмотрим среднеквадратичную ошибку
print('Ошибка RMSE c random seed 123 на тестовой выборке по модели RandomForestRegressor =',mean_squared_error(y_test, pred_RFR))
print('Ошибка RMSE c random seed 123 на обучающей выборке по модели RandomForestRegressor =',mean_squared_error(y_train, pred_RFR_train))

Ошибка RMSE c random seed 123 на тестовой выборке по модели RandomForestRegressor = 14.21739338157896
Ошибка RMSE c random seed 123 на обучающей выборке по модели RandomForestRegressor = 1.344237807909603

In [19]:
from sklearn.linear_model import QuantileRegressor

In [20]:
QR = QuantileRegressor()

In [21]:
%%time
QR.fit(X_train, y_train)

Wall time: 6.08 s

QuantileRegressor()

In [22]:
#Предсказания
pred_QR = QR.predict(X_test)
pred_QR_train = QR.predict(X_train)

In [23]:
#посмотрим среднеквадратичную ошибку
print('Ошибка RMSE c random seed 123 на тестовой выборке по модели QuantileRegressor =',mean_squared_error(y_test, pred_QR))
print('Ошибка RMSE c random seed 123 на обучающей выборке по модели QuantileRegressor =',mean_squared_error(y_train, pred_QR_train))

Ошибка RMSE c random seed 123 на тестовой выборке по модели QuantileRegressor = 49.08634614496964
Ошибка RMSE c random seed 123 на обучающей выборке по модели QuantileRegressor = 49.81323532527741